a,p,label,div,section,li,button{
    font-family: 'Nanum Gothic', sans-serif;
}
h1,h2{
    font-family: 'Iropke Batang', serif;
}

.info{
    min-height:100vh;
}
#main-section{
    min-height:100vh;
    background: url('../img/blue-2705642_1920.jpg');
}
.logo-img{
    width:40px;
}
.welcome{
    width:100%;
    height:100%;
    background:black;
    opacity: .6;
}
.info h1{
    color: white;
    font-weight: bold;
}
.text-box{
    width: 80%;
    text-align: center;
    margin:12% 10%;
    position: absolute;
}
.welcome-img{
    max-width: 45%;
    margin-left: 25%;
}
.welcome-section{
    position: relative;
    align-items: center;
    overflow: hidden;
}
.welcome-message{
    font-size:2vw;
    color:white;
    text-align: center;
    font-weight: 600;
}
.welcome-message span{
    transition:1.5s;
}
.welcome-message span:nth-child(10n+1){
    transition-delay: 0s;
}
.welcome-message span:nth-child(10n+2){
    transition-delay: 0.1s;
}
.welcome-message span:nth-child(10n+3){
    transition-delay: 0.2s;
}
.welcome-message span:nth-child(10n+4){
    transition-delay: 0.3s;
}
.welcome-message span:nth-child(10n+5){
    transition-delay: 0.4s;
}
.welcome-message span:nth-child(10n+6){
    transition-delay: 0.5s;
}
.welcome-message span:nth-child(10n+7){
    transition-delay: 0.6s;
}
.welcome-message span:nth-child(10n+8){
    transition-delay: 0.7s;
}
.welcome-message span:nth-child(10n+9){
    transition-delay: 0.8s;
}
.welcome-message span:nth-child(10n+10){
    transition-delay: 0.9s;
}
.welcome-message:hover span{
    filter:blur(20px);
    opacity: 0;
    transform:scale(2);
}
body{
    overflow-x: hidden;
}
#info-section{
    margin:0;
    padding:0;
    background: #00305A;
}
.infobackground{
    width: 100%;
    background: rgba(0,0,0,.1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position:relative;
    width:1000px;
    display:flex;
    justify-content: space-between;
}
.container .cards{
    position: relative;
    width:300px;
    height:400px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items:center;
}
.container .cards:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height: 100%;
    background: rgba(255,255,255,.1);
    z-index: 20;
    pointer-events: none;
}

.container .cards .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container .cards .imgBx h2{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size:18px;
}
.container .cards .content h2{
    font-size:18px;
    margin-bottom:0;
    line-height:2;
    text-align: center;
    margin-bottom: 2%;
}
.container .cards .content p{
    font-size:15px;
    line-height: 21px;
}
.container .cards .overlay{
    position: absolute;
    bottom:20px;
    right:20px;
    width:50px;
    height:50px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
}
.container .cards .overlay:hover{
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    box-shadow:none;
    opacity: .9;
    border-radius: 0;
}
.container .cards .overlay:before{
    content:'Read';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: .5s;
}
.container .cards .overlay:hover:before{
    display:none;
    transition-delay: 0s;
}
.container .cards .content{
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 0s;
    color:#fff;
    overflow: hidden; 
    max-height: 90%;
    word-wrap: break-word;
}
.container .cards .overlay:hover ~ .content{
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
    transition-delay: 0.5s;
}
.container .cards:nth-child(1),
.container .cards:nth-child(1) .overlay{
    background: linear-gradient(45deg,#3503ad,#f7308c);
}
.container .cards:nth-child(2),
.container .cards:nth-child(2) .overlay{
    background: linear-gradient(45deg,#ccff00,#09afff);
}
.container .cards:nth-child(3),
.container .cards:nth-child(3) .overlay{
    background: linear-gradient(45deg,#e91e63,#ffeb3b);
}
.link-section{
    min-height:99vh;
    background: whitesmoke;
}

.link-list{
    background: white;
    width: 60%;
    display: inline-block;
    min-height: 60vh;
    box-shadow: 3px 4px 7px grey;
    border-radius: 15px;
    margin:10% 20%;
}
.link-search{
    border:2px solid whitesmoke;
    border-radius: 3px;
    padding: 1vh;
    width:100%;
    opacity: .9;
}
.link-search-active{
    border-color: steelblue;
}
.board-section{
    width:100%;
    height:99vh;
    background:#00305A;
}
.board{
    background: white;
    min-width: 80%;
    display: inline-block;
    min-height: 70vh;
    box-shadow: 3px 4px 7px grey;
    border: 3px solid white;
    border-radius: 5px;
    margin:10%;
}
.board-section h1{
    color:white;
}
.section-title{
    font-size: 2vw;
    font-weight: bold;
    opacity: 0.8;
    color: dodgerblue;
    position: absolute;
    margin: 2%;
    letter-spacing: 2px;
}
.modal{
    position: fixed;
    width:100%;
    height:100vh;
    background: rgba(0,0,0,.6);
    z-index: 60;
    display:none;
    padding:10% 41%;
}
.modal input{
    letter-spacing: 1px;
}
#join-box{
    width: 100vw;
}
#login-box{
    width: 100vw;
}
#join-btn{
    width: 100%;
    padding: 2vh;
}

#link-section-move{
    margin-top:2%;
    border:2px solid white;
    border-radius: 3px;
    font-size:1.5vw;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    color:white;
    padding:1% 2%;
}
#link-section-move:hover{
    background: white;
    color: black;
}
#navi a{
    letter-spacing: 1px;
}
#danger-alert{
    position: fixed;
    width: 100%;
    margin-top: 8vh;
    z-index: 100;
    display: none;
}
#success-alert{
    position: fixed;
    width: 100%;
    margin-top: 8vh;
    z-index: 100;
    display: none;
}
#logout-btn,#mypage-btn{
    display: none;
}

.list-box{
    width:100%;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 15px;
}
.link-list h2{
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    font-size:20px;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.list-box ul{
    position: relative;
    background: #fff;
}
.list-box-ul:hover li{
    opacity: .3;
}
.list-box-ul .link-item:hover{
    opacity: 1;
}
.list-box .list-item{
    padding: 10px;
}
.list-box ul li{
    list-style: none;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition: transform 0.3s;
    cursor: pointer;
}
.list-box-ul li:hover{
    z-index: 10;
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    opacity: 1;
}
.list-item span{
    color: #fff;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: 600;
    transform: translateY(-2px);
}
.list-box ul li:hover .list-item-number , .list-add-icon{
    background: #fff;
    color: #25bcff;
}
.link-item{
    display: inline-block;
    width: 100%;
    padding:10px;
}
.link-item-ul{
    display: none;
}
.link-item-ul li:hover{
    background: dodgerblue;
    color: white;
}
#login-modal-btn{
    display: none;
}
#join-modal-btn{
    display: none;
}
.list-add{
    text-align: center;
}
.list-add span{
    border: 1px solid white;
    border-radius: 50%;
    padding: 1px 7px;
    font-weight: bold;
    font-size: 25px;
    color: #03a9f4;
}
#list-add-modal{
    padding: 15% 35%;
}
.modal h1{
    margin-top: 2%;
    background: cornflowerblue;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5%;
}
#list-add-modal label , #link-add-modal label{
    margin:0 5%;
    font-weight: 600;
    font-size: 16px;
    color: gray;
    letter-spacing: 1px;
}
#list-add-modal input , #link-add-modal input{
    border: 3px solid #589bd1;
    width: 90%;
    padding: 1%;
    margin: 2% 5%;
    border-radius: 10px;
}
.list-btn , .link-btn{
    padding: 3% 0;
    color: white;
    letter-spacing: 4px;
    border: 1px solid #4299e1;
    border-radius: 10px;
    background: #4299e1;
    box-shadow: 2px 2px 3px grey;
    font-size: 18px;
    font-weight: 600;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
}

.list-btn:hover , .link-btn:hover{
    border: 1px solid #2b6cb0;
    background: #2b6cb0;
}

.list-add-box{
    padding: 2% 3%;
    width: 30vw;
    background: white;
    border: 1px solid white;
    box-shadow: 1px 1px 2px white;
    border-radius: 10px;
    min-height: 26vh;
}
.list-item-number{
    width: 20px;
    height: 20px;
    background: #25bcff;
    font-size: 12px;
}
.list-destroy-icon , .link-destroy-icon{
    float: right;
    background: #E50000;
    font-size: 20px;
    padding: 3px;
    width: 25px;
    height: 25px;
}
#list-destroy-modal , #link-destroy-modal , #list-share-modal{
    padding: 15% 25%;
}
.list-destroy-box , .link-destroy-box , .list-share-box {
    padding: 2%;
    background: white;
    width: 50vw;
    min-height: 20vh;
    text-align: center;
    border-radius: 10px;
}
#list-destroy-modal h2 , #link-destroy-modal h2{
    margin: 2%;
}
#list-destroy-modal button , #link-destroy-modal button{
    width: 20%;
    padding: 2%;
    margin-left: 0%;
}
.link-add-icon{
    float: right;
    background: rgb(61, 112, 223);
    font-size: 20px;
    padding: 3px;
    width: 25px;
    height: 25px;
}
#link-add-modal {
    padding: 10% 25%;
}
#list-edit-modal,#share-board-modal{
    padding: 5% 25%;
}
.link-add-box {
    padding: 2% 5%;
    width: 50vw;
    background: white;
    border: 1px solid white;
    box-shadow: 1px 1px 2px white;
    border-radius: 10px;
    min-height: 30vh;
}
.list-edit-box , .share-board-box{
    padding: 2% 5%;
    width: 50vw;
    background: white;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: auto;
}
.list-edit-box label{
    margin-left: 32%;
    font-size: 18px;
    font-weight: 600;
}
#list-edit-listName{
    border: 1px solid gray;
    width: 30%;
    padding: 1%;
}
.list-edit-box table , .share-board-table{
    margin-top:3%;
    border: 1px solid gray;
    width: 100%;
}
.share-board-table{
    text-align: center;
}
.share-board-table a{
    color: dodgerblue;
    text-decoration: underline;
    font-family: none;
}
.list-edit-box th{
    background: cornflowerblue;
    color: white;
    letter-spacing: 1px;
}

.list-edit-table th , .list-edit-table td , .share-board-table th , .share-board-table td{
    border: 1px solid gray;
}

.list-edit-box table input{
    width: 100%;
    padding: 2%;
    letter-spacing: 1px;
}
.list-edit-icon{
    width: 25px;
    height: 25px;
    background: teal;
    padding: 3px;
    border-radius: 50%;
    float: right;
    margin-right: 10px;
    margin-top: -2px;
}
.link-item-name{
    max-width: 90%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-item-name{
    max-width: 70%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-share-table{
    width: 100%;
    margin: 0;
    border-top: 1px solid gray;
    text-align: center;
}
.list-share-table th:first-child , .list-share-table th:last-child{
    width:10%;
}
.list-share-table tr{
    cursor: pointer;
    height: 5vh;
}
.list-share-table tr:first-child{
    background:#001D44;
    color: white;
    font-weight: 600;
    cursor: unset;
}
.share-item:hover {
    background: #4CB9FE;
    color: white;
    font-weight: 500;
}
.list-share-table th, .list-share-table td{
    border-bottom: 1px solid gray;
}
.share{
    min-height: 55vh;
    margin-bottom:1%;
}
.my-list{
    width: 98%;
    border: 1px solid cornflowerblue;
    height: 35px;
    display: block;
    font-weight: 600;
    margin-left: 1%;
    border-radius: 5px;
}
#list-share-modal-btn{
    padding: 1%;
    color: white;
    letter-spacing: 2px;
    border: 1px solid #4299e1;
    border-radius: 10px;
    background: #4299e1;
    box-shadow: 2px 2px 3px grey;
    font-size: 16px;
    font-weight: 600;
    margin-left: 45%;
    width: 10%;
}
#list-share-modal-btn:hover,#search-btn:hover{
    border: 1px solid #2b6cb0;
    background: #2b6cb0;
}
#list-share-btn{
    width: 25%;
    padding: 2%;
    margin: 2% 0;
}
#list-get-btn{
    width: 20%;
    padding: 2%;
    margin-left: 40%;
}
#board-search-keyword,#board-search-select{
    border: 1px solid gray;
}
#board-search-keyword{
    width:20%;
}
#search-btn{
    padding: 3px 0;
    color: white;
    letter-spacing: 2px;
    border: 1px solid #4299e1;
    border-radius: 5px;
    background: #4299e1;
    box-shadow: 2px 2px 3px grey;
    width: 6%;
    font-size: 15px;
    font-weight: 600;
}
.board-paging{
    text-align: center;
    margin-top: 2%;
}
.board-paging span{
    cursor: pointer;
    margin-right: 1%;
    font-weight: bold;
    color: #001D44;
}
.board-paging span:hover{
    color:red;
}
#share-info{
    display: none;
    font-size: 22px;
    text-align: center;
    margin: 17%;
    font-weight: 600;
}
#forget-modal{
    padding: 10% 38%;
}
#forget-username{
    width:95%;
}
#forget-email{
    width:73%;
    display: inline-block;
}
#send-btn-box{
    display: inline-block;
}
#forget-btn-box , #change-btn-box{
    width:100%;
    text-align: center;
}
#loading-modal{
    z-index: 99;
}
#loading-box ul{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
}
#loading-box ul li{
    list-style: none;
    width: 6px;
    height: 20px;
    background: white;
    margin: 0 4px;
    animation: loading .7s infinite alternate;
}
@keyframes loading
{
    0%
    {
        transform: scaleY(1);
    }
    25%
    {
        transform: scaleY(1);
    }
    50%
    {
        transform: scaleY(1);
    }
    75%
    {
        transform: scaleY(1);
    }
    100%
    {
        transform: scaleY(3);
    }

}
#loading-box ul li:nth-child(1)
{
    animation-delay: .1s;
}
#loading-box ul li:nth-child(2)
{
    animation-delay: .2s;
}
#loading-box ul li:nth-child(3)
{
    animation-delay: .3s;
}
#loading-box ul li:nth-child(4)
{
    animation-delay: .4s;
}
#loading-box ul li:nth-child(5)
{
    animation-delay: .5s;
}
#loading-box ul li:nth-child(6)
{
    animation-delay: .6s;
}
#change-modal{
    padding: 10% 35%;
}
.modal-close-btn{
    margin-left: 96%;
    width: 33px;
    cursor: pointer;
    margin-bottom: 1%;
    background: cornflowerblue;
    padding: 1%;
    border-radius: 50%;
}
@media(max-width:1400px){
    #main-section{
        background-size: cover;
    }
    #forget-email{
        width:100%;
    }
    #send-btn-box{
        text-align: center;
        width: 100%;
    }
    #send-btn-box button{
        width: 90%;
    }
    #forget-username{
        width:100%;
    }
    #change-modal{
        padding: 10% 30%;
    }
    #board-search-keyword{
        width: 35%;
    }
}
@media(max-width:1024px){
    #login-modal-btn ,  #logout-btn , #join-modal-btn , #mypage-btn{
        float:none;
    }
    #navi-menu{
        display: none;
    }
    #forget-modal {
        padding: 10% 25%;
    }
    .modal-close-btn{
        margin-left:94%;
        width:7%;
    }
}
@media(max-width:800px){
    #main-section{
        min-height: 60vh;
    }
    .welcome{
        opacity: .9;
    }
    .container{
        display: grid;
        justify-content: center;
        margin: 2% 0;
    }
    .container .cards{
        margin-top: 1%;
    }
    .welcome-img{
        max-width: 80%;
        margin-left: 10%;
    }
    .welcome-message{
      font-size: 23px;
    }
    #link-section-move{
        font-size: 25px;
        margin-top: 7%;
    }
    #join-box , #login-box{
        margin-left:-10vw;
    }
    .link-list{
        width: 90%;
        margin: 20% 5%;
    }
    .list-edit-box , .link-add-box , .list-destroy-box , .link-destroy-box , .list-add-box , .list-share-box , .share-board-box{
        width: 90vw;
        margin: 20% 5%;
    }
    #list-add-modal,#list-edit-modal,#list-destroy-modal,#link-destroy-modal,#link-add-modal , #share-board-modal , #list-share-modal{
        padding: 0;
    }
    .section-title{
        font-size:18px;
    }
    .container{
        margin:10% 0;
    }
    .list-item-name{
        max-width: 50%;
    }
    .board{
        width: 98%;
        margin: 15% 1%;
    }
    .list-share-table th, .list-share-table td{
        font-size:12px;
    }
    #search-btn{
        width: 50px;
    }
    #list-share-modal-btn{
        width: 100px;
    }
    .board-paging{
        margin-top: 5%;
    }
    .board-paging span{
        margin-right: 3%;
        font-size: 13px;
    }
    #change-modal{
        padding: 10% 20%;
    }
}
@media(max-width:500px){
    #join-box ,  #login-box{
        max-width: 100vw;
        margin-left:-41vw;
    }
    #login-box{
        margin-top: 15vh;
    }
    #join-box{
        margin-top: 5vh;
    }
    #forget-modal , #change-modal {
        padding: 20% 0;
    }
    #board-search-keyword{
        width: 50%;
        font-size: 14px;
    }
}
//
